/*nav */
header {

    width: auto;
    height: 65px;
    background-color: rgb(78, 78, 76);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 45px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.nav-item {
    color: yellow;
    
} 

/*Mitad mitad */
#container_1 {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
   }
   #mitad_img {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
   }
   #img_c1 {
    width: 100%;
    height: 45rem;
    background-image: url(./img/4.jpg);
    background-size: cover;
    background-position: center; 
   }
   
   #titulo_c1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: justify; 
   }



 #texto_c1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: justify;
 }
  
  /*Carousel */
  #img1 {
    
    width: 100%;
    height: 45rem;
  }
  #img2 {
    
    width: 100%;
    height: 45rem;
  }
  #carousel {
    max-width: 100%;
    padding: 0px ;
    margin: 0px;
  }
  
/*Cards*/
.container-3 {
    background-color: rgb(175, 172, 172);
    padding: 16px;
}

/*Fomr*/
#titulo_form {
  padding-top: 15px;
  text-align: center;
}

/*footer */
footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
.social-icons {
  font-size: 24px;
  margin: 0 10px;
}
